
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(45deg, #ff6f61, #6dd5fa);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {

  justify-content: center;
  align-items: center;
}

.form-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h2 {
  color: #ff6f61;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.submit-btn {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #ff5741;
}

.toggle-text {
  margin-top: 20px;
}

.toggle-link {
  color: #6dd5fa;
  cursor: pointer;
  font-weight: bold;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}
